{% block header %}
    {% include 'embeddables/_dynamic_background.html' %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/background_selector.css') }}">
{% endblock %}

{% extends "base_template.html" %}
{% block title %}Background Selector{% endblock %}
{% block content %}

    <div class="bgSelectorModal modal fade" id="backgroundModal" tabindex="-1" aria-labelledby="backgroundModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="backgroundModalLabel">Válassz egy háttérképet!</h5>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ url_for('settings.background_selector') }}">

                        <div class="row row-cols-1 row-cols-md-3 g-4">

                            {% for image in background_images %}
                                <div class="col">
                                    <div class="card">
                                        <label>
                                            <input class="bgSelectorModal" type="radio" name="selected_background" value={{ image }} checked>
                                            <img src="{{ url_for('static', filename='images/' + image) }}" class="card-img-top">
                                        </label>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="submit" class="btn btn-primary" name="preferred_background" value="{{ image }}">Mentés</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <script>
        $(window).on('load', function() {
            let modal = new bootstrap.Modal('#backgroundModal')
            modal.show()
        });
    </script>
{% endblock %}
