<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VerbVenture</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/dictionary.css') }}">
</head>
<body>
    <main>
        <header>
            <div id="userinfo">id: <span id="username">{{ current_user.username }}</span></div>
            <h1>Szótár</h1>
            <div></div>
        </header>

        <div class="content">

            <input type="text" id="searchInput" placeholder="Keresés...">
            <div class="word-list" id="wordList">
            </div>
        </div>

        <button id="backbutton" class="clickable" onclick="location.href='{{ url_for( 'views.landing_page') }}'">
            <img src="{{ url_for('static',filename='img/svg-path.svg') }} ">
        </button>
    </main>
    <script src = "{{ url_for('static',filename='js/timer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dictionary.js') }}"></script>

</body>
</html>