<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VerbVenture</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/elorehaladas.css') }}">
	{% include 'embeddables/_dynamic_background.html' %}
</head>
<body onLoad="startTime()">
    <main>
        <header>
            <div id="userinfo">id: <span id="username">{{ current_user.username }}</span></div>
            <h1>Előrehaladás</h1>
            <div id="control_buttons">
                <button id="time">00:00</button>
            </div>
        </header>
        <div id="content">
            <div id="scores">
                <div class="scoreline">
                    <div class="scoretitle">Szókirakó:</div>
                    <div class="scorepercent">{{ szokirako_score }}%</div>
                </div>
                <div class="scoreline">
                    <div class="scoretitle">Szókártyák:</div>
                    <div class="scorepercent">{{ szokartyak_score }}%</div>
                </div>
                <div class="scoreline">
                    <div class="scoretitle">Egészítsd Ki:</div>
                    <div class="scorepercent">{{ egeszitsdki_score }}%</div>
                </div>
                <div class="scoreline">
                    <div class="scoretitle">Listening:</div>
                    <div class="scorepercent">{{ listening_score }}%</div>
                </div>
                <div class="scoreline">
                    <div class="scoretitle">Szópárosítás:</div>
                    <div class="scorepercent">{{ parositas_score }}%</div>
                </div>
            </div>
            <div id="scorebutton">
                <div id="percent">Összesített értékelés: <span>{{ sum_score }}%</span></div>
                <div id="grade"><span>{{ grade_letter }}</span></div>
            </div>
        </div>
        <button id="printbutton" class="clickable">Letöltés</button>
        <button id="backbutton" class="clickable" onclick="location.href='{{ url_for( 'views.landing_page') }}'">
            <img src="{{ url_for('static',filename='img/svg-path.svg') }} ">
        </button>
    </main>
    <script src = "{{ url_for('static',filename='js/timer.js') }}"></script>
    <script src = "{{ url_for('static',filename='js/downloader.js') }}"></script>
</body>
</html>