<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VerbVenture</title>
    <link rel="stylesheet" href="css/elorehaladas.css">
</head>
<body>
    <main>
        <header>
            <div id="userinfo">id: <span id="username">Felhasználónév</span></div>
            <h1>Előrehaladás</h1>
            <div id="control_buttons">
                <button id="time">12:11</button>
            </div>
        </header>
        <div id="content">
            <div id="scores">
                <div class="scoreline">
                    <div class="scoretitle">Szókirakó:</div>
                    <div class="scorepercent">30%</div>
                </div>
                <div class="scoreline">
                    <div class="scoretitle">Szókártyák:</div>
                    <div class="scorepercent">76%</div>
                </div>
                <div class="scoreline">
                    <div class="scoretitle">Egészítsd Ki:</div>
                    <div class="scorepercent">82%</div>
                </div>
                <div class="scoreline">
                    <div class="scoretitle">Listening:</div>
                    <div class="scorepercent">91%</div>
                </div>
                <div class="scoreline">
                    <div class="scoretitle">Szópárosítás:</div>
                    <div class="scorepercent">100%</div>
                </div>
            </div>
            <div id="scorebutton">
                <div id="percent">Összesített értékelés: <span>72%</span></div>
                <div id="grade"><span>C</span></div>
            </div>
        </div>
        <button id="printbutton" class="clickable">Nyomtatás</button>
        <button id="backbutton" class="clickable" onclick="location.href='landing_page.html'">
            <img src="img/svg-path.svg">
        </button>
    </main>
</body>
</html>