<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VerbVenture</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/landing_page.css') }}">
	{% include 'embeddables/_dynamic_background.html' %}
</head>
<body onLoad="startTime()">
    <main>
        <header>
            <div id="userinfo">id: <span id="username">{{ current_user.username }}</span></div>
            <h1>VerbVenture</h1>
            <div id="control_buttons">
                <button id="logout" class="clickable" onclick="location.href='{{ url_for( 'auth.logout') }}'">Kijelentkezés</button>
                <button id="backgroundChange" onclick="location.href='{{ url_for( 'settings.background_selector') }}'" class="clickable">Háttérkép változtatás</button>
                <button id="time">00:00</button>
            </div>
        </header>
        <div id="nav_buttons">
            <button id="szokartyak" onclick="location.href='szokartyak.html';" class="clickable">Szókártyák</button>
            <button id="szoparositas" onclick="location.href='szoparositas.html';" class="clickable">Szópárosítás</button>
            <button id="egeszitsd_ki" onclick="location.href='egeszitsd_ki.html';" class="clickable">Egészítsd ki</button>
            <button id="szotar" onclick="location.href='szotar.html';" class="clickable">Szótár</button>
            <button id="listening" onclick="location.href='listening.html';" class="clickable">Listening</button>
            <button id="szokirako" onclick="location.href='szokirako.html';" class="clickable">Szókirakó</button>
            <button id="elorehaladas" onclick="location.href='{{ url_for( 'views.progress') }}'" class="clickable">Előrehaladás</button>
        </div>
    </main>
    <script src = "{{ url_for('static',filename='js/timer.js') }}"></script>
</body>
</html>