<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VerbVenture</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/Listening.css">
    

</head>
<body>

    <div class="header">
        <div class="user">
            <p>felhasználó neve</p>
        </div>
        <div class="title"><h1>Listening</h1></div>
        <div class="elorehaladas">
            <p>előrehaladás</p>
        </div>
        </div>

        <main>
            <button class="listening"><div id="image"><img src="../static/images/speaker.png" alt="felolvasás" title="felolvas"></div></button>
            <div id="textAreas">
                <textarea id="writeing" name="writeing" rows="4" cols="50">
                    At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
                </textarea>
            </div>

            <div class="footer">
                <button class="exit"><p>Kilépés</p></button>
                <button class="next"><p>Tovább</p></button>
            </div>
        </main>
</body>
</html>