<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VerbVenture</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/szokartya.css') }}">
    {% include 'embeddables/_dynamic_background.html' %}
    <script>
     var translations = JSON.parse('{{ translations | tojson | safe }}');
    console.log(translations)
    
    let wonpointscounter = 0;
    let triescounter = 0;

    function changeWord(element, event) {
        console.log(event.target)

        if (event.target.classList.contains("speak")) {
            return;
        }


        //Give Score if clicked first
        if (element.classList.contains("givesscore")) {
            wonpointscounter++;
            element.classList.remove("givesscore");
        }
    

        console.log("clicked");

        var pElement = element.querySelector('p');
        var currentText = pElement.textContent.trim(); // trim to remove leading/trailing whitespaces

        console.log("Current text:", currentText);

        // Check if the original text is in the translations
        // Toggle between the original and translated words
        if (translations.hasOwnProperty(currentText)) {
            pElement.textContent = translations[currentText];
        } else {
            // Handle the case when the current text is a translated word
            for (var key in translations) {
                if (translations.hasOwnProperty(key) && translations[key] === currentText) {
                    pElement.textContent = key;
                    break;
                }
            }
        }
    }
    document.addEventListener('DOMContentLoaded', function() {
    const elorehaladasElem = document.querySelector('.elorehaladas');
    const nextButton = document.querySelector('.next');
    const backButton = document.querySelector('.back');
    let progress = 0;
    let isFirstClick = 0;
 
    backButton.addEventListener('click', function () {
        isFirstClick = 0; // Mindig az első lépést kezelje, ha a .back elemre kattintanak
        progress = 0;

        translations = JSON.parse('{{ translations | tojson | safe }}');

        document.querySelectorAll('.words').forEach(function (word) {
            word.style.display = 'flex';
        });

        document.querySelectorAll('.new_words').forEach(function (newWord) {
            newWord.style.display = 'none';
        });
    });
    nextButton.addEventListener('click', function() {

        triescounter += 8;





        isFirstClick += 1;
        progress += 50;

        // Korlátozzuk a progress-bar szélességét, hogy ne menjen ki a div-ből
        if (progress > 100) {
            progress = 100;
        }

        elorehaladasElem.querySelector('.progress-bar').style.width = `${progress}%`;

        translations = JSON.parse('{{ new_translations | tojson | safe }}');
        if (isFirstClick == 0){
            // Az első kattintásra az összes '.words' elem kiválasztása és a stílusok alkalmazása
            document.querySelectorAll('.words').forEach(function(word) {
                word.style.display = 'flex';
            });

            // Az első kattintásra az összes '.new_words' elem kiválasztása és a stílusok alkalmazása
            document.querySelectorAll('.new_words').forEach(function(newWord) {
                newWord.style.display = 'none';
            });
        } if (isFirstClick == 1) {
            // Az első kattintásra az összes '.words' elem kiválasztása és a stílusok alkalmazása
            document.querySelectorAll('.words').forEach(function(word) {
                word.style.display = 'none';
            });

            // Az első kattintásra az összes '.new_words' elem kiválasztása és a stílusok alkalmazása
            document.querySelectorAll('.new_words').forEach(function(newWord) {
                newWord.style.display = 'flex';
            });
        } if (isFirstClick == 2) {
            let url = "{{ url_for('views.popup', text='Visszatérés a főoldalra...', game='Szokartyak', wonpoints='__won__', tries='__tries__') }}";
            url = url.replace('__won__', wonpointscounter).replace('__tries__', triescounter);
            
            window.location.href = url;
        }

    });
});
    
    //  HANGÉRT FELELŐS RÉSZ:
function playAudio(index, isNew) {
    var audioIdPrefix = isNew ? 'new_audio' : 'audio';
    var audio = document.getElementById(audioIdPrefix + index);
    audio.play();
}

    </script>

</head>
<body>
    <div class="header">
    <div class="user">
        <p>{{ user.username }}</p>
    </div>
    <div class="title"><h1>Szókártyák</h1></div>
    <div class="elorehaladas">
        <div class="progress-bar"></div>
        <p>előrehaladás</p>
    </div>
    </div>
    <main>
        <div class="backtop"><div class="back"><p>vissza</p></div></div>
        {% for word in words %}
        <div class="words givesscore" onclick="changeWord(this, event)" data-hang="hang{{ loop.index }}.mp3">
            <p> {{word}} </p>
            <img src="{{ url_for('static', filename='img/speaker.png') }}" alt="felolvasás" title="felolvas" onclick="playAudio({{ loop.index }}, false)" class="speak">
            <audio id="audio{{ loop.index | string }}" src="{{ url_for('static', filename='voices/hang/hang' + loop.index | string + '.mp3') }}"></audio>
        </div>
        {% endfor %}
        {% for word in new_words %}
        <div class="words new_words givesscore" onclick="changeWord(this, event)" data-hang="new_hang{{ loop.index }}.mp3">
            <p> {{word}} </p>
            <img src="{{ url_for('static', filename='img/speaker.png') }}" alt="felolvasás" title="felolvas" onclick="playAudio({{ loop.index }}, true)" class="speak">
            <audio id="new_audio{{ loop.index | string  }}" src="{{ url_for('static', filename='voices/new_hang/hang' + loop.index | string + '.mp3') }}"></audio>
        </div>
        {% endfor %}
        <div class="footer">
            <button class="exit" id="backbutton" class="clickable" onclick="location.href='{{ url_for( 'views.landing_page') }}'"><img src="{{ url_for('static',filename='img/svg-path.svg') }} "></button>
            <button class="next"><p>Tovább</p></button>
        </div>
    </main>




</body>
</html>