<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VerbVenture</title>
    <link rel="stylesheet" href="../static/styles/szokartya.css">
</head>
<body>
    <div class="header">
    <div class="user">
        <p>felhasználó neve</p>
    </div>
    <div class="title"><h1>Szókártyák</h1></div>
    <div class="elorehaladas">
        <p>elúrehaladás</p>
    </div>
    </div>
    <main class="kartyadoboz">
        <div class="words"> <p> dog </p><img src="../static/img/speaker.png" alt="felolvasás" title="felolvas"> </div>

        <div class="words"> <p> te </p><img src="../static/img/speaker.png" alt="felolvasás" title="felolvas"> </div>

        <div class="words"> <p> ti </p> <img src="../static/img/speaker.png" alt="felolvasás" title="felolvas"></div>

        <div class="words"> <p> ja </p> <img src="../static/img/speaker.png" alt="felolvasás" title="felolvas"></div>

        <div class="words"> <p> de </p> <img src="../static/img/speaker.png" alt="felolvasás" title="felolvas"></div>

        <div class="words"> <p> ne </p><img src="../static/img/speaker.png" alt="felolvasás" title="felolvas"> </div>

        <div class="words"> <p> sztemnem </p><img src="../static/img/speaker.png" alt="felolvasás" title="felolvas"> </div>

        <div class="words"> <p> alma </p><img src="../static/img/speaker.png" alt="felolvasás" title="felolvas"> </div>

        <div class="footer">
            <button class="exit"><p>Kilépés</p></button>
            <button class="next"><p>Tovább</p></button>
        </div>
    </main>




</body>
</html>