<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VerbVenture</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/szokartya.css') }}">
    {% include 'embeddables/_dynamic_background.html' %}
    <script>
    var translations = {
        "cat": "macska",
        "dog": "kutya",
        "you": "te",
        "did": "csinálta",
        "yes": "igen",
        "but": "de",
        "never": "soha",
        "far": "messze",
        "apple": "alma"
    };

    function changeWord(element) {
        console.log("clicked");

        var pElement = element.querySelector('p');
        var currentText = pElement.textContent.trim(); // trim to remove leading/trailing whitespaces

        console.log("Current text:", currentText);

        // Check if the original text is in the translations
        // Toggle between the original and translated words
        if (translations.hasOwnProperty(currentText)) {
            pElement.textContent = translations[currentText];
        } else {
            // Handle the case when the current text is a translated word
            for (var key in translations) {
                if (translations.hasOwnProperty(key) && translations[key] === currentText) {
                    pElement.textContent = key;
                    break;
                }
            }
        }
    }
    </script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const elorehaladasElem = document.querySelector('.elorehaladas');
    const nextButton = document.querySelector('.next');
    let progress = 0;

    nextButton.addEventListener('click', function() {
        progress += 50; // Adjust the step as needed

        // Korlátozzuk a progress-bar szélességét, hogy ne menjen ki a div-ből
        if (progress > 100) {
            progress = 100;
        }

        elorehaladasElem.querySelector('.progress-bar').style.width = `${progress}%`;
    });
});
</script>
</head>
<body>
    <div class="header">
    <div class="user">
        <p>{{ user.username }}</p>
    </div>
    <div class="title"><h1>Szókártyák</h1></div>
    <div class="elorehaladas">
        <div class="progress-bar"></div>
        <p>előrehaladás</p>
    </div>
    </div>
    <main>
        {% for word in words %}
        <div class="words" onclick="changeWord(this)"> 
            <p> {{word}} </p><img src="{{ url_for('static', filename='img/speaker.png') }}" alt="felolvasás" title="felolvas"> 
        </div>
        {% endfor %}
        <div class="footer">
            <button class="exit" id="backbutton" class="clickable" onclick="location.href='{{ url_for( 'views.landing_page') }}'"><img src="{{ url_for('static',filename='img/svg-path.svg') }} "></button>
            <button class="next"><p>Tovább</p></button>
        </div>
    </main>




</body>
</html>