<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VerbVenture</title>
    <link rel="stylesheet" href="../static/styles/css/szoparosit.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% include 'embeddables/_dynamic_background.html' %}

<script>
    let wonpointscounter = 0;
    let triescounter = 0;


   var correctPairs = JSON.parse('{{ correctPairs | tojson | safe }}');
   let correctWords = 0;
   document.addEventListener("DOMContentLoaded", function () {
   


    
    // Bal oldali szavak eseménykezelők hozzáadása
    var leftWords = document.querySelectorAll('.leftWord');
    
    leftWords.forEach(function (word) {
        word.addEventListener('dragstart', function (e) {
            e.dataTransfer.setData('text/plain', word.outerHTML);
        });
    });

    // Jobb oldali rész eseménykezelők hozzáadása
    var rightSideList = document.querySelectorAll('.rightWords');
    var rightSideArray = Array.from(rightSideList);

    rightSideArray.forEach(function (rightSide) {
        rightSide.addEventListener('dragover', function (e) {
            e.preventDefault();
        });

        rightSide.addEventListener('drop', function (e) {
            e.preventDefault();
            if (rightSide.children.length < 2) {
            var draggedWordHTML = e.dataTransfer.getData('text/plain');
            var rightWordContainer = document.createElement('div');
            rightWordContainer.classList.add('rightWord');
            rightWordContainer.innerHTML = draggedWordHTML;

            // Háttérszín és backdropFilter beállítása
            // rightWordContainer.style.backgroundColor = '#00000000'; // vagy a háttérszín értékét, amit be szeretnél állítani
            rightWordContainer.style.backdropFilter = 'none'; // vagy a backdropFilter értékét, amit be szeretnél állítani

            rightSide.appendChild(rightWordContainer);

            var rightWordsContent = Array.from(rightSide.children).map(function (child) {
                return child.innerText;
            });

            // Ellenőrzés a correctPairs alapján
            if (rightWordsContent.length >= 2) {
                var isPairCorrect = correctPairs.some(function (pair) {
                    return (
                        rightWordsContent.includes(pair.right) &&
                        rightWordsContent.includes(pair.left)

                        
                    );
                    console.log(pair.left);
                });

                if (isPairCorrect) {
                    rightSide.querySelectorAll('.rightWord').forEach(function (correctPairElement) {
                        correctPairElement.style.transition = 'background-color 1s ease';
                        correctPairElement.style.backgroundColor = '#00FF00';
                    });

                    setTimeout(function () {
                        rightSide.querySelectorAll('.rightWord').forEach(function (correctPairElement) {
                            correctPairElement.style.backgroundColor = '';
                        });

                        leftWords.forEach(function (word) {
                            if (rightWordsContent.includes(word.innerText)) {
                                word.style.display = 'none';
                                
                            }
                        });
                    }, 800);
        correctWords += 1;
        console.log('A szópár helyes!');
        wonpointscounter++;
        triescounter++;
        if(correctWords == 8){

    const elorehaladasElem = document.querySelector('.elorehaladas');
    const nextButton = document.querySelector('.next');
    let progress = 0;
    let isFirstClick = 0;

    nextButton.addEventListener('click', function() {
        if(correctWords == 8){
        isFirstClick += 1;
        progress += 50; // Adjust the step as needed
        }
        // Korlátozzuk a progress-bar szélességét, hogy ne menjen ki a div-ből
        if (progress > 100) {
            progress = 100;
        }

        elorehaladasElem.querySelector('.progress-bar').style.width = `${progress}%`;

        correctPairs = JSON.parse('{{ new_correctPairs | tojson | safe }}');
        console.log('{{ new_correctPairs | tojson | safe }}');


        if (isFirstClick == 0){
            // Az első kattintásra az összes '.words' elem kiválasztása és a stílusok alkalmazása
            document.querySelectorAll('.leftSide').forEach(function(word) {
                word.style.display = 'flex';
            });
            document.querySelectorAll('.rightSide').forEach(function(word) {
                word.style.display = 'flex';
            });
            // Az első kattintásra az összes '.new_words' elem kiválasztása és a stílusok alkalmazása
            document.querySelectorAll('.new_leftSide').forEach(function(newWord) {
                newWord.style.display = 'none';
            });
            document.querySelectorAll('.new_rightSide').forEach(function(newWord) {
                newWord.style.display = 'none';
            });
        } if (isFirstClick == 1 && correctWords == 8) {
            document.querySelectorAll('.leftSide').forEach(function(word) {
                word.style.display = 'none';
            });
            document.querySelectorAll('.rightSide').forEach(function(word) {
                word.style.display = 'none';
            });
    

            document.querySelectorAll('.new_leftSide').forEach(function(newWord) {
                newWord.style.display = 'flex';
            });
            document.querySelectorAll('.new_rightSide').forEach(function(newWord) {
                newWord.style.display = 'flex';
            });
        } if (isFirstClick == 2 && correctWords == 8) {
            let url = "{{ url_for('views.popup', text='Visszatérés a főoldalra...', game='Szoparositas', wonpoints='__won__', tries='__tries__') }}";
            url = url.replace('__won__', wonpointscounter).replace('__tries__', triescounter);
            
            window.location.href = url;
        }
        correctWords = 0;
    });
    
        }
        console.log(correctWords);
 
    } else {

        rightWordContainer.style.transition = 'background-color 1s ease';
        rightWordContainer.style.backgroundColor = '#FF0000';
   
        setTimeout(function () {
            rightWordContainer.style.backgroundColor = '';
            var originalWord = Array.from(leftWords).find(function (word) {
                return word.innerText.includes(rightWordContainer.innerText);
            });
            originalWord.style.display = 'block';
        }, 1500);
        setTimeout(function () {
            rightWordContainer.remove(); 
        }, 2000);
        console.log(rightWordsContent)
        console.log("szópár helytelen");
        triescounter++;
    }
}

        };
    });
});
});




</script>
<body>

    <div class="header">
        <div class="user">
            <p>{{ user.username }}</p>
        </div>
        <div class="title"><h1>Szópárosítás</h1></div>
        <div class="elorehaladas">
            <div class="progress-bar"></div>
            <p>előrehaladás</p>
        </div>
        </div>

        <main>
            <div class="mainTitle"><h2>Párosítsd a magyar szavakat az angolhoz.</h2></div>
            <div class="leftSide">
                {% for leftWord in leftWords %}
                <div class="leftWord" draggable="true" data-word="{{ leftWord }}"><p>{{leftWord}}</p></div>
                {% endfor %}

            </div>
            <div class="leftSide new_leftSide">
                {% for leftWord in new_leftWords %}
                <div class="leftWord" draggable="true" data-word="{{ leftWord }}"><p>{{leftWord}}</p></div>
                {% endfor %}

            </div>
            <div class="rightSide">
                {% for word in rightWords %}
                <div class="rightWords">
                <div class="rightWord">    <p>{{word}}</p> </div>
                </div>
                {% endfor %}
            
            </div>
            <div class="rightSide new_rightSide">
                {% for word in new_rightWords %}
                <div class="rightWords">
                <div class="rightWord">    <p>{{word}}</p> </div>
                </div>
                {% endfor %}
            
            </div>
            

            <div class="footer">
                <button class="exit" id="backbutton" class="clickable" onclick="location.href='{{ url_for( 'views.landing_page') }}'"><img src="{{ url_for('static',filename='img/svg-path.svg') }} "></button>
                <button class="next"><p>Tovább</p></button>
            </div>
        </main>
</body>
</html>