<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VerbVenture</title>
    <link rel="stylesheet" href="../static/styles/szoparosit.css">
</head>
<body>

    <div class="header">
        <div class="user">
            <p>felhasználó neve</p>
        </div>
        <div class="title"><h1>Szópárosítás</h1></div>
        <div class="elorehaladas">
            <p>előrehaladás</p>
        </div>
        </div>

        <main>
            <div class="leftSide">
                <div class="leftWord"><p>kutya</p></div>
                <div class="leftWord"><p>láb</p></div>
                <div class="leftWord"><p>betű</p></div>
                <div class="leftWord"><p>háború</p></div>
                <div class="leftWord"><p>víz</p></div>
                <div class="leftWord"><p>ló</p></div>
                <div class="leftWord"><p>állat</p></div>
                <div class="leftWord"><p>igazság</p></div>
            </div>
            <div class="rightSide">
                <div class="rightWord"><p>word</p></div>
                <div class="rightWord"><p>dog</p></div>
                <div class="rightWord"><p>war</p></div>
                <div class="rightWord"><p>horse</p></div>
                <div class="rightWord"><p>animal</p></div>
                <div class="rightWord"><p>truth</p></div>
                <div class="rightWord"><p>water</p></div>
                <div class="rightWord"><p>leg</p></div>
            </div>
            

            <div class="footer">
                <button class="exit"><p>Kilépés</p></button>
                <button class="next"><p>Tovább</p></button>
            </div>
        </main>
        
</body>
</html>