*{
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    background-image: url("../../img/background_classic.jpg");
    background-color: blue;
    background-size:cover;
    font-family: Tahoma;
    background-repeat: repeat;
    margin: auto;
    min-height: 100%;
    user-select: none;
}
.header{
    display: flex;
}
.title{
    margin: auto;
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 15px;
    height: 5.5rem;
    width: 20rem;
    margin-top: 0.7rem;
    padding-top: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}
.user{
    margin-left: 10vh;
    min-width: 20%;
    background: #ffffff1e;
    height: 100%;
    margin-top: 1rem;
    margin-right: 1rem;
}
.user p{
    margin: 10px
}
.elorehaladas{
    margin-right: 10vh;
    background: rgba(255, 255, 255, 0.44);
    height: 100%;
    margin-top: 1rem;
    min-width: 20%;
    margin-left: 1rem;
    position: relative;
}
.progress-bar {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 0;
    background: linear-gradient(to right, rgba(0, 255, 255, 0.38) 100%, transparent 100%);
    transition: width 1s ease;

}
.elorehaladas p{
    text-align: center;
    margin: 10px;
    position: relative;
    z-index: 1;
}
@media screen and (max-width: 768px){
    .title{
        display: flex;
        width: 10rem;
        font-size: 0.7rem;
    }
    .user{
        margin-left: 6vh;
    }
    .elorehaladas{
        margin-right: 6vh;
    }
}
@media screen and (max-width: 656px){
    .title{
        display: flex;
        font-size: 0.5rem;
        height: 3rem;
    }
    .user{
        margin-left: 2vh;
        height: 2rem;
    }
    .elorehaladas{
        margin-right: 2vh;
    }
    .user p{
        height: 2rem;
        font-size: 0.7rem;
    }
    .elorehaladas p{
        font-size: 0.5rem;
    }
}

main{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: #ffffff41;
    border-radius: 15px;
    width: 90%;
    min-height: 80vh;
    box-shadow: 2em 2em rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-bottom: 1rem;
    flex-flow: row wrap;
    gap: 20px;
}
.title h1{
    text-align: center;
}
.backtop{
    display:flex;
    flex-basis: 100%;
    float: left;
}
.backtop p{
    font-size: 2vh;
}
main .back{
    display:flex;
    position: relative;
    background-color: #e3e3e3a9;
    cursor: pointer;
    min-height: 3rem;
    min-width: 6rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    border-radius: 20px;
    max-width: 17rem;
	font-size: 1.25em;
	font-weight: bold;
}

.back:hover{
    background-color: bisque;
    cursor: pointer;
}


main .words {
    display: flex;
    position: relative;
    background-color: #e3e3e361;
    backdrop-filter: blur(1em);
    border-radius: 1.5em;
    box-shadow: 2em 2em rgba(0, 0, 0, 0.15);
    justify-content: center;
    align-items: center;
    height: 17vh;
    flex-basis: 20%;
    min-width: 28vh;
    margin-top: 1rem;
}
main .new_words{
    display: none;
}
main .words:hover{
    background-color: bisque;
    cursor: pointer;
}

p{
    font-weight: bold;
    text-align: center;
    font-size: 2.5vh;
}
img:not(.footer img) {
    position: absolute;
    bottom: 0.3rem;
    left: 0.7rem;
    height: 3vh;
    width: 3vh;
    z-index: 1;
}
main .footer{
    display: flex;
    flex-basis: 100%;
    background: none;
    box-shadow: none;
    backdrop-filter: none;
    width: 100vh;
    margin-bottom: 1rem;
}

.exit{
    float: left;
    background-color: #e3e3e3a9;

}
.next{
    float:right;
    background-color: #e3e3e3a9;
}
.exit:hover{
    background-color: bisque;
    cursor: pointer;
}
.next:hover{
    background-color: bisque;
    cursor: pointer;
}
button {
	border: none;
	box-shadow: none !important;
}
.footer {
	display: flex;
	justify-content: space-between;
	height: 3em;
}

.footer button {
	border-radius: 1.5em;
}

#backbutton {
    height: 100%;
    width: 10%;
    margin-left: 1em;
    margin-bottom: 1em;
    padding: 0.2em;
}

#backbutton img{
   height: 2em;
}

.next {
	height: 100%;
	font-size: 1.5em;
	font-weight: bold;
	min-width: fit-content;
    width: 10%;
    margin-right: 1em;
    margin-bottom: 1em;
}


button {
	border: none;
	box-shadow: none !important;
	transition: all 0.1s ease-in-out !important;
    background-color: #e3e3e361 !important;
    backdrop-filter: blur(1em);
    -webkit-backdrop-filter: blur(1em);
    border-radius: 1.5em;
    border: none;
    font-family: inherit;
    font-weight: bold;
    text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.15)
}

button:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out !important;
    cursor: pointer;
	background-color: #e3e3e3cc !important;
}

button:active {
    transform: scale(0.9);
	background-color: #e3e3e3cc !important;
}

.user, .title, .elorehaladas {
    background-color: #e3e3e361;
	border-radius: 1.5em;
}
.progress-bar{
    	border-radius: 1.5em;
}