body, html {
  height: 100%;
}

/*
Blur effect fix
https://stackoverflow.com/questions/28870932/how-to-remove-white-border-from-blur-background-image
*/
body {
  position: absolute;
  background-image: url('../images/background_image.jpg');

  /* Full height */
  height: 100%;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  backdrop-filter: blur(10px); /* apply the blur */
  -webkit-backdrop-filter: blur(10px);
}

h1 {
  color: #575757;
font-family: 'Inter', sans-serif;
  font-weight: 800;
}

.customCard {
  background-color: rgba(255,255,255,0.5);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .25);
}