*{
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    background-image: url("../img/background_classic.jpg");
    background-color: blue;
    background-size:cover;
    font-family: Tahoma;
    background-repeat: repeat;
    margin: auto;
    min-height: 100%;
    user-select: none;
}
.header{
    display: flex;
}.header p{
    font-size: 2vh;
}
.title{
    margin: auto;
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 15px;
    height: 5.5rem;
    width: 20rem;
    margin-top: 0.7rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}
.user{
    margin-left: 10vh;
    min-width: 20%;
    max-width: 30%;
    background: #ffffff1e;
    height: 100%;
    margin-left: 0.3rem;
    margin-right: 0.2rem;
    margin: auto;
    border-radius: 15px;
}
.user p{
    margin: 10px;
    overflow-wrap: break-word;
}
.elorehaladas{
    display: flex;
    margin-right: 10vh;
    background: rgba(255, 255, 255, 0.44);
    height: 5vh;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin: auto;
    min-width: 20%;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.progress-bar {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 0;
    background: linear-gradient(to right, rgba(0, 255, 255, 0.38) 100%, transparent 100%);
    transition: width 1s ease;

}
.elorehaladas p{
    text-align: center;
    position: relative;
    z-index: 1;
}
@media screen and (max-width: 768px){
    .title{
        display: flex;
        width: 10rem;
        font-size: 0.7rem;
    }
    .user{
        max-width: 10rem;
    }

}
@media screen and (max-width: 656px){
    .title{
        display: flex;
        font-size: 0.5rem;
        height: 3rem;
        width: 6rem;
        margin-bottom: 1rem;
    }
    .elorehaladas{
        width: 4rem;
    }
    .header p{
        font-size: 1.2vh;
    }


}
@media  screen and (max-width: 425px){
    .title{
        font-size: 0.3rem;
        height: 2rem;
        width: 4rem;
    }
    .user{
        width: 8rem;
    }
    
}

main{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: #ffffff41;
    border-radius: 15px;
    width: 90%;
    min-height: 80vh;
    box-shadow: 2em 2em rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-bottom: 1rem;
    flex-flow: row wrap;
}
.szoveg{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 3rem;
    max-height: 10rem;
    flex-basis: 100%;
    background-color: #e3e3e361;
    backdrop-filter: blur(1em);
    border-radius: 1.5em;
    box-shadow: 2em 2em rgba(0, 0, 0, 0.15);
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.answers{
    display: flex;
    flex-flow: row wrap;
    width: 90em;
    margin: auto;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;

    gap:5em;
}
.new_answers{
    display: none;
}
.new_szoveg{
    display: none;
}

.answer{
    background-color: #e3e3e361;
    backdrop-filter: blur(1em);
    border-radius: 1.5em;
    box-shadow: 2em 2em rgba(0, 0, 0, 0.15);
    min-width: 15em;
    flex-basis: 40%;

}
.answer:hover{
    background-color: bisque;
    cursor: pointer;
}
p{
    font-weight: bold;
    text-align: center;
    font-size: 2.5vh;
    margin: auto;
}
img{
    position: absolute;
    bottom: 0.3rem;
    left: 0.7rem;
    height: 3vh;
    width: 3vh;
    z-index: 1;
}
main .footer{
    display: flex;
    flex-basis: 100%;
    background: none;
    box-shadow: none;
    backdrop-filter: none;
    width: 100vh;
    margin-bottom: 1rem;
}
button{
    min-width: 12vh;
    min-height: 7vh;
    border-radius: 10px;
    font-size: 2vh;
}
.exit{
    float: left;
    position: relative;
    background-color: #e3e3e3a9;
    margin-right: auto;
    margin-left: 2rem;
    margin-top: 3rem;
    margin-right: 1rem;
}
.exit img{
    position: absolute;
    height: 2.6em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.next{
    float:right;
    background-color: #e3e3e3a9;
    margin-left: auto;
    margin-right: 2rem;    
    margin-top: 3rem;
}
button:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out !important;
    cursor: pointer;
	background-color: #e3e3e3cc !important;
}

button:active {
    transform: scale(0.9);
	background-color: #e3e3e3cc !important;
}