*{
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    background-image: url("../img/background_classic.jpg");
    background-color: blue;
    background-size:cover;
    font-family: Tahoma;
    background-repeat: repeat;
    margin: auto;
    min-height: 100%;
    user-select: none;
}
.header{
    display: flex;
}
.title{
    margin: auto;
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 15px;
    height: 5.5rem;
    width: 20rem;
    margin-top: 0.7rem;
    padding-top: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}
.user{
    margin-left: 6vh;
    min-width: 20%;
    background: #ffffff1e;
    height: 100%;
    margin-top: 1rem;
    margin-right: 1rem;
}
.elorehaladas{
    margin-right: 10vh;
    background: #ffffffe3;
    height: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin: auto;
    margin-top: 1rem;
    min-width: 20%;
    margin-left: 1rem;
    position: relative;
}
.progress-bar {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 0;
    background: linear-gradient(to right, #00FFFF 100%, transparent 100%);
    transition: width 1s ease; 

}
.user p{
    margin: 10px;
    overflow-wrap: break-word;
}
.elorehaladas p{
    text-align: center;
    margin: 10px;
}
@media screen and (max-width: 768px){
    .title{
        display: flex;
        width: 10rem;
        font-size: 0.7rem;
    }
    .user{
        margin-left: 6vh;
    }
    .elorehaladas{
        margin-right: 6vh;
    }
}
@media screen and (max-width: 656px){
    .title{
        display: flex;
        font-size: 0.5rem;
        height: 3rem;
    }
    .user{
        margin-left: 2vh;
    }
    .elorehaladas{
        margin-right: 2vh;
    }
    .user p{
        height: 2rem;
        font-size: 0.7rem;
    }
    .elorehaladas p{
        font-size: 0.5rem;
    }
}

main{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: #ffffff41;
    border-radius: 15px;
    width: 90%;
    min-height: 80vh;
    box-shadow: 2em 2em rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-bottom: 1rem;
    flex-flow: row wrap;
}

p{
    font-weight: bold;
    text-align: center;
    font-size: 2.5vh;
    
}
.kozep{
    display: flex;
    flex-flow: row wrap;
    width: 90em;
    gap:50px;
    justify-content: center;
    text-align: center;
}
.listening{
    flex-basis: 100%;
}
.new_listening{
    display: none;
}
#textAreas{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-basis: 100%;
    max-width: 90em;
}
textarea{
    font-size: 2rem;
    width: 70%;
    height: 15rem;
    background-color: #e3e3e3a9;
    backdrop-filter: blur(1em);
    border-radius: 1.5em;
    box-shadow: 2em 2em rgba(0, 0, 0, 0.15);
    
}
textarea:hover{
    cursor: pointer;
    border-width: 5px;
}
main .footer{
    display: flex;
    flex-basis: 100%;
    background: none;
    box-shadow: none;
    backdrop-filter: none;
    width: 100vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

button{
    width: 7rem;
    min-height: 4rem;
    border-radius: 10px;
    
}
.kesz{
    width: 12rem;
    background-color: #e3e3e3e7;
}
.kesz:hover{
    background-color: rgba(255, 228, 196, 0.336);
    cursor: pointer;
}
.exit{
    float: left;
    position: relative;
    background-color: #e3e3e3a9;
    margin-right: auto;
    margin-left: 2rem;
    margin-top: 3rem;
    margin-right: 1rem;
}
.exit img{
    position: absolute;
    height: 3.6em;
    left: 3em;
    bottom: 0.5em;
}
.next{
    float:right;
    background-color: #e3e3e3a9;
    margin-left: auto;
    margin-right: 2rem;    
    margin-top: 3rem;
}
.exit:hover{
    background-color: bisque;
    cursor: pointer;
}
.next:hover{
    background-color: bisque;
    cursor: pointer;
}

main .listening {
    display: flex;
    position: relative;
    background-color: #e3e3e361;
    backdrop-filter: blur(1em);
    border-radius: 1.5em;
    box-shadow: 2em 2em rgba(0, 0, 0, 0.15);
    justify-content: center;
    align-items: center;
    height: auto;
    flex-basis: 20%;
    min-width: 28vh;
    margin-top: 1rem;
}
main .textAreas{
    flex-basis: 100%;
    max-width: 90em;
    
}
main .listening:hover{
    background-color: bisque;
    cursor: pointer;
}
img{
    max-width:70%;
    max-height:70%;
}
@media screen and (max-width: 768px){
    .title{
        display: flex;
        width: 10rem;
        font-size: 0.7rem;
    }
    .user{
        margin-left: 6vh;
    }
    .elorehaladas{
        margin-right: 6vh;
    }
}
@media screen and (max-width: 656px){
    .title{
        display: flex;
        font-size: 0.5rem;
        height: 3rem;
    }
    .user{
        margin-left: 2vh;
    }
    .elorehaladas{
        margin-right: 2vh;
    }
    .user p{
        height: 2rem;
        font-size: 0.7rem;
    }
    .elorehaladas p{
        font-size: 0.5rem;
    }
}
.footer img{
    position: absolute;
    bottom: 0.3rem;
    left: 0.7rem;
    height: 3vh;
    width: 3vh;
    z-index: 1;
}
main .footer{
    display: flex;
    flex-basis: 100%;
    background: none;
    box-shadow: none;
    backdrop-filter: none;
    width: 100vh;
    margin-bottom: 1rem;
}
button{
    min-width: 12vh;
    min-height: 7vh;
    border-radius: 10px;
    font-size: 2vh;
}
.exit{
    float: left;
    position: relative;
    background-color: #e3e3e3a9;
    margin-right: auto;
    margin-left: 2rem;
    margin-top: 3rem;
    margin-right: 1rem;
}
.exit img{
    position: absolute;
    height: 2.6em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.next{
    float:right;
    background-color: #e3e3e3a9;
    margin-left: auto;
    margin-right: 2rem;    
    margin-top: 3rem;
}
button:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out !important;
    cursor: pointer;
	background-color: #e3e3e3cc !important;
}

button:active {
    transform: scale(0.9);
	background-color: #e3e3e3cc !important;
}
